/*
Boxer Template
http://www.templatemo.com/preview/templatemo_446_boxer
*/

body
    {
        background: #FFFFFF;
        font-family: 'Helvetica Neue', sans-serif;
        font-weight: 310;
        height: 100%;
        overflow-x: hidden;
        position: relative;
        width: 100%;
    }

.tm-white a {
	color: #FFFFFF;
}

/* start h1 group */
h1 {
    margin-bottom: 25px;
    margin-top: 0;
}
h1,
h2,
h3{
    color: #243051;
    margin-bottom: 25px;
    margin-top: 16px;
    /*font-weight: bold;*/
}
,
h4
    {
        font-weight: bold;
    }
/* end h1 group */
p, ul, li {
    line-height: 1.65em;
    font-size: 16px;
    text-align: justify;
}
/* img */
img
    {
        height: auto;
        max-width: 100%;
    }
/* img */

/* overlay */
.overlay
    {
       width: 100%;
       height: 100%;
       /*background: rgba(0, 0, 0, 0.4);*/
       padding-top: 100px;
       padding-bottom: 100px;
    }
/* over lay */

/* start page container */
/*@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}*/
/* end page container */

.col-centered{
    float: none;
    margin: 0 auto;
}


#wrap, .wrap
    {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -50px;
    }
#push,
#footer
    {
        height: 50px;
        bottom: 0;
    }

footer
    {
        /*position: absolute;*/
        /*bottom: 0;*/
        /* Set the fixed height of the footer here */
        background-color: #fff;
        font-size: 11px;
        text-align: right;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    }



/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 50px;
}
.container .credit {
  margin: 20px 0;
  font-size: 12px;
}

code {
  font-size: 80%;
}

/* end footer */

/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
/* end page container */

/* start preloader */
.preloader
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        /*justify-content: center;*/
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        background: none repeat scroll 0 0 #FFFFFF;
    }
.sk-spinner-rotating-plane.sk-spinner
    {
         width: 30px;
        height: 30px;
        background-color: #890B20;
         margin: 0 auto;
        -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
     }

@-webkit-keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
         -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
                 transform: perspective(120px) rotateX(0deg) rotateY(0deg); }

  50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
                transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }

  100% {
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
                    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
/* end preloader */

/* start navigation */
.navbar-default
    {
        background: #E4E6EA;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.05);
        margin: 0!important;
    }
.navbar-default .navbar-brand
    {
        color: #243051;
        font-size: 30px;
        font-weight: 200;
        height: 60px;
        line-height: 35px;
    }
.navbar-default .nav li a
    {
        color: #666;
        font-size: 14px;
        font-weight: 200;
        height: 60px;
        line-height: 40px;
    }
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
.navbar-default .nav li a.current
    {
        color: #890B20;
    }

.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 20px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #890B20;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }

.navbar .fa
    {
        font-size: 30px;
        margin-right: 5px;
    }

/* end navigation */



/* ---------------------- INDEX PAGE ----------------------------------*/

/* start home */
#home
    {
    background: #FFFFFF;
    /*color: #FFFFFF;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 10px;*/
    text-align: center;
    width: 100%;
    }
#home p
    {

        /*font-weight: 400;
        font-style: italic;
        line-height: 2em;*/
    }
#home img
    {
        margin-top: 20px;
        margin-bottom: 20px;
        display: inline-block;
        vertical-align: middle;
    }


/* end home */

/* start why */
/*
#whybanner
    {
        background: url('../images/casehistories2-01.png') no-repeat;
        background-size: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
*/

#whybanner h3
    {
        padding-bottom: 10px
    }


#why
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 60px;
        background: #F7F8F9;
    }
#why img
    {
        /*border-radius: 160px;*/
        /*-webkit-border-radius: 160px;*/
        /*-moz-border-radius: 160px;*/
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 20px;
    }
#why .fa
    {
        color: #890B20;
        font-size: 20px;
    }

/* end why */



/* start about */
#who
    {
        /*text-align: center;*/
        padding-top: 30px;
        padding-bottom: 60px;
        background: #FFFFFF;
    }
#who img
    {
        padding:10px;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 0px;
        display: inline-block;
        vertical-align: text-top;
        /*margin-top: 10px;*/
        /*margin-bottom: 20px;*/
    }
#who .fa
    {
        color: #243051;
        font-size: 80px;
        padding-top:30px;
    }
#who p
    {
        margin-left: 14px;
        text-align: justify;
        padding-top: 0px;
    }

/* end who */


/* start course */
#course
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 0px;
        background: #F7F8F9;
    }
#course p, ul, li
    {
        text-align: justify;
        vertical-align: center;
    }

#course p, ul
    {
        padding-bottom: 10px;
    }

#course img
    {
        border-radius: 180px;
        -webkit-border-radius: 180px;
        -moz-border-radius: 180px;
        display: inline-block;
        width: 180px;
    }
#course i
    {
        background: #337AB7;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        line-height: 75px;
        /*margin-top: 6px;*/
        /*margin-right: 10px;*/
        color: #F7F8F9;
    }


#course h4
    {
        padding-top: 10px;
        padding-bottom: 10px;
    }
#course h1
    {
        padding-top: 60px;
        padding-bottom: 60px;
        font-size: 50px;
    }

/* end course */

/* start lab */
#lab
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 50px;
        background: #F7F8F9;
    }
#lab p
    {
        text-align: justify;
        vertical-align: center;
        padding-bottom: 10px;
    }

#lab img
    {
        border-radius: 180px;
        -webkit-border-radius: 180px;
        -moz-border-radius: 180px;
        display: inline-block;
        width: 180px;
    }
/*#lab i
    {
        background: #337AB7;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        line-height: 75px;
        color: #F7F8F9;
    }*/
#lab .fa
    {
        color: #243051;
        font-size: 80px;
        padding-top:30px;
    }


#lab h4
    {
        /*padding-top: 10px;*/
        padding-bottom: 10px;
    }
#lab h1
    {
        /*padding-top: 60px;*/
        padding-bottom: 60px;
        font-size: 50px;
    }

/* end course */

/* start dayatdisc */
#dayatdisc
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
        background: #F7F8F9;
    }

#dayatdisc p, ul, li
    {
        text-align: justify;
        vertical-align: center;
    }

#dayatdisc p, ul
    {
        padding-bottom: 15px;
    }

#dayatdisc img
    {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        display: inline-block;
        /*width: 340px;*/
        vertical-align: middle;
        /*margin-top:10px;*/
        padding-top: 10px;
        padding-bottom:15px;
    }
#dayatdisc i .fa
    {
        background: #337AB7;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        /*margin-top: 6px;*/
        color: #F7F8F9;
        margin: 40px;
        display: inline-block;
        text-align: center;
    }


#dayatdisc h4
    {
        /*padding-top: 10px;*/
        padding-bottom: 10px;
    }
#dayatdisc h1
    {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 50px;
    }

/* start where */
#where
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom:30px;
        background: #FFFFFF;
    }

/* end where */

/* start resources */
#resources
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #F7F8F9;
    }

#resources .fa
    {
        background: #337AB7;
        color: #F7F8F9;
        font-size: 40px;
        margin: 20px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
/* end resources */

/* end dayatdisc */

#contribute
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
        background: #FFFFFF;
    }
#contribute h2
    {
        color: #243051;
    }

#contribute p
    {
        vertical-align: middle;
    }
#contribute ul
    {
        /*font-size: 17px;*/
        vertical-align: middle;
    }

/* start connect */

#connect
    {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 20px;
        background: #F7F8F9;
    }

#connect i
    {
        padding-top: 10px;
        color: #666;
        font-size: 50px;
        text-align: center;
    }

/* start contact */
#contact
    {
        /*background: url('../images/contact-bg.jpg') no-repeat;*/
        /*background-size: cover;*/
        background: #F7F8F9;
        padding-top: 30px;
        padding-bottom: 20px;
        /*padding-top: 20px;*/
    }
#contact h2
    {
        padding-bottom: 10px;
    }
#contact address
    {
        padding-top: 20px;
    }

#contact i
    {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #666;
        font-size: 50px;
        text-align: right;
    }

/*#contact .contact-form
    {
        padding-top: 40px;
    }*/

#contact .form-control
    {
        border: 1px rgba(100, 100, 100);
        border-radius: 10px;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.);
        margin-bottom: 20px;
        width:90%;
        position: relative;
        margin: 20px;
        /*align : center;*/
    }
#contact input
    {
        height: 50px;
    }

#contact input[type="submit"]
    {
        background: #337AB7;
        color: #fff;
        font-weight: bold;
        transition: all 0.3s ease;
    }

#contact input[type="submit"]:hover
    {
        background: #107DB6;
    }
/* end contact */

/* ------------------------- Course Overview ------------------- */

#events_overview
    {
    background: #FFFFFF;
    /*color: #FFFFFF;*/
    /*margin-top: 30px;*/
    /*margin-bottom: 10px;*/
    text-align: center;
    width: 100%;
    }
#events_overview h1, p
    {
        margin-top: 10px;
        /*font-weight: 400;
        line-height: 2em;*/
    }
#events_overview img
    {
        margin-top: 30px;
        margin-bottom: 10px;
        display: inline-block;
        vertical-align: middle;
    }

#events_overview .fa
    {
        background: #337AB7;
        color: #F7F8F9;
        font-size: 25px;
        margin: 20px;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

#events_why
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #F7F8F9;
    }

#events_why .fa
    {
        color: #890B20;
        font-size: 20px;
    }

#events_how
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #FFFFFF;
    }

#what
    {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #F7F8F9;
    }


/* ----------------------- Schedule -------------------- */

#schedule .fa
    {
        background: #337AB7;
        color: #F7F8F9;
        font-size: 20px;
        /*margin: 20px;*/
        /*margin-bottom: 20px;*/
        display: inline-block;
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

#schedule h4, h3
{
    margin-top: 40px;
}

/*#schedule p, ul, li {
    line-height: 1.65em;
    font-size: 14px;
    text-align: justify;
}*/

#locations {
    /*margin-top: 40px;*/
    background: #F7F8F9;
    padding-bottom: 40px;
}

/*#february {
    margin-top: 40px;
    background: #FFFFFF;
    padding-bottom: 40px;
}*/

/*#january h3 {
    margin-top: 40px;
}*/

/*----------------- Locations ----------------------- */

#coursematerials {
    /*margin-top: 40px;*/
    background: #F7F8F9;
    padding-bottom: 40px;
}

#coursematerials .fa
    {
        background: #337AB7;
        color: #F7F8F9;
        font-size: 20px;
        margin: 10px;
        /*margin-bottom: 20px;*/
        display: inline-block;
        line-height: 40px;
        text-align: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
/* ------------------------- Error Page ------------------------ */
#error
    {
        background: #FFFFFF;
        /*color: #FFFFFF;*/
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
        width: 100%;
    }

#error p
    {
        text-align: center;
        margin-bottom: 20px;
    }

#error .fa i
    {
        margin: 20px;

        width: 40px;
        height: 40px;
        line-height: 60px;
        /*margin-top: 6px;*/
        color: #F7F8F9;
        margin: 40px;
        display: inline-block;
    }

/* start footer */
footer
    {
        background: #FFFFFF;
        text-align: center;
        padding: 15px;
        font-size: 11px;
    }

#footer p
    {
        font-size: 11px;
    }

.bar { font-size: 20px; }
/* end footer */

@media screen and ( max-width: 991px ) {
    .templatemo-box {
        margin-bottom: 30px;
    }
    #pricing .active {
        bottom: 0;
    }
    .pricing {
        margin-bottom: 20px;
    }
    #projects img
    {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 30px;
    }
    #projects1 img
    {
        margin-bottom: 30px;
    }
}
@media screen and ( max-width: 767px ) {
    .navbar-default .nav li a {
        height: auto;
        line-height: 2em;
    }
    #projects, #pricing, #download {
        padding-top: 20px;
        padding-bottom: 40px;
    }
    #contact .overlay {
        padding-top: 40px;
    }
}
/* start media 360 */
@media screen and ( max-width: 360px ){
    .pricing
        {
            padding-bottom: 40px;
        }
}
/* end media 360 */
