<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        <title>
            Overview of DISC 2017
        </title>
    </head>

    <body>

        {% include _templateFolder+'navigation.html' %}

        <section id="events_overview">
            <div class="overlay">
                <div class="container">

                    <div class="row">
                        <img src="/s/images/disclogo.png" class="img-responsive" alt="title img" width="200">
                    </div>
                    <div class="row">
                        <h1>
                            Overview of Events
                        </h1>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a href="/schedule">
                                <!-- <i class="fa fa-calendar" aria-hidden="true" style="color:#F7F8F9; border-radius:0px"></i> -->
                                <h4>View Course Schedule</h4>
                            </a>
                            <br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-1 templatemo-box"></div>
                        <div class="col-md-10 templatemo-box">
                            <p>


                                At each location, the DISC tour consists of
                                two parts: the <strong>DISC Course</strong>, a day-long
                                lecture-style presentation in the tradition of
                                SEG DISC courses. Following the course, <strong>DISC
                                Lab</strong> will be hosted. These are days dedicated
                                to discussion with a subset of interested
                                participants on problems and case histories of
                                local interest, and is an opportunity for
                                tutorials on simulation and inversion.


                            </p>


                        </div>
                        <div class="col-md-1 templatemo-box"></div>
                </div>
                <div class="row">
                    <div class="col-md-1 templatemo-box"></div>
                    <div class="col-md-5 templatemo-box" align="center">
                        <i class="fa fa-university" aria-hidden="true"></i>
                        <h4>DISC Course</h4>
                        <p text-align="justify">

                            The course is a 1-day lecture style presentation
                            covering Fundamentals and Applications of
                            Electromagnetic Geophysics. Local case histories
                            pertaining to problems in resource exploration,
                            including oil and gas, minerals, water,
                            environmental, and geotechnical areas will be used
                            as  motivation for investigating fundamentals of
                            electromagnetics.  The aim of this course is to
                            equip participants with sufficient fundamental
                            understanding and
                            <a href="/#resources">resources</a>
                            about EM geophysics so that they can decide if an
                            EM technique can help solve their problem, select
                            which type of survey to employ, and set realistic
                            expectations for what information can be gleaned.

                        </p>

                    </div>
                    <div class="col-md-5 templatemo-box" align="center">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <h4>DISC Lab</h4>
                        <p text-align="justify">

                            The DISC Lab days are designed for a smaller group
                            of geoscientists. We ask participants to provide
                            informal 5 min lightning talks about problems of
                            local interest.  We will then work as a group to
                            break down the problems in terms of the
                            <a href="http://em.geosci.xyz/content/geophysical_surveys/fundamentals/seven_steps.html">
                                7-Step Framework
                            </a>
                            introduced in course. If participants agree, their
                            talks and results from discussions, will be
                            uploaded to the web. By capturing these problems
                            and state-of-progress onto the web, we hope to
                            promote interaction between geoscientists
                            worldwide. Tutorials on simulations and inversions
                            are also available upon request. There is no
                            registration fee for DISC Lab.

                        </p>
                    </div>
                    <div class="col-md-1 templatemo-box"></div>
                </div>

                <br><br>
                <div class="row">
                    <div class="col-md-12 templatemo-box">
                         <a class="btn btn-lg btn-success" href="http://seg.org/Education/Courses/DISC/2017-DISC-Doug-Oldenburg">
                                Register Now
                            </a>
                    </div>
                </div>

                <br><br>

                <div class = "row">
                <div class="col-md-1 templatemo-box"></div>
                <div class="col-md-10 templatemo-box">
                    <p>

                        Our goal for the DISC is make an impact by reaching a
                        large number of geoscientists who are connected with
                        diverse applications. This requires involvement of
                        societies, companies or government agencies to act as
                        local sponsors and help identify key contacts. The
                        procedure is outlined in the tree below. We ask people
                        to see where they fit in the tree and if they can
                        provide a
                        <a href="/#contribute">
                            local case history
                        </a>
                        and/or encourage other
                        geoscientists to attend.  Doing so enables us moderate
                        registration fees by attaining high attendance,
                        increases the diversity of applications, and ensures
                        that the examples presented are relevant and engaging
                        to each audience.


                        Our goal for the DISC is make an impact by reaching a
                        large number of geoscientists who are connected with
                        diverse applications. This requires involvement of
                        societies, companies or government agencies to act as
                        local sponsors and help identify key contacts. The
                        procedure is outlined in the tree below. We ask people
                        to see where they fit in the tree and if they can
                        provide a  and/or encourage other geoscientists to
                        attend.  Doing so enables us moderate registration
                        fees by attaining high attendance, increases the
                        diversity of applications, and ensures that the
                        examples presented are relevant and engaging to each
                        audience.

                    </p>

                </div>
                <div class="col-md-1 templatemo-box"></div>

                <div class="row" align="center">
                    <img src="/s/images/networks.png" class="img-responsive" alt="networks" width="600">
                </div>

            </div>
        </section>



        <!-- <section id="events_why">
            <div class="container">
                <div class="row" align="right">
                    <div class="col-md-12">
                        <h3 class="text-lowercase">why</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 templatemo-box"></div>
                        <div class="col-md-10 templatemo-box">
                        <p>
                            <ul>
                                <li>Present fundamentals and applications of electromagnetics</li>
                                <li>Capture problems that geoscientists world-wide are working on</li>
                                <li>Connect participants with web-based resources and with other scientists worldwide</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-1 templatemo-box"></div>
                </div>
            </div>
        </section>

        <section id="events_how">
            <div class="container">
                <div class="row" align="right">
                    <div class="col-md-12">
                        <h3 class="text-lowercase">how</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 templatemo-box"></div>
                        <div class="col-md-10 templatemo-box">
                        <p>
                            <ul>
                                <li>Solicit local EM case histories for diverse applications</li>
                                <li>Use web-based resources and interactive apps to promote learning</li>
                                <li>Extend the DISC to multi-days to promote interaction</li>
                            </ul>
                        </p>
                    </div>
                    <div class="col-md-1 templatemo-box"></div>
                </div>

                <div class="row" align="center">
                    <img src="/s/images/networks.png" class="img-responsive" alt="networks" width="600">
                </div>
            </div>
        </section>

        <section id="what">
            <div class="container">
                <div class="row" align="right">
                    <div class="col-md-12">
                        <h3 class="text-lowercase">what to expect</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-1 templatemo-box"></div>
                        <div class="col-md-10 templatemo-box">
                            <h4>DISC Course</h4>
                        <p>

                            Vivamus sit amet neque eget orci porttitor
                            porttitor at dignissim dolor. Lorem ipsum dolor
                            sit amet, consectetur adipiscing elit. Sed id
                            consequat nisi, ac tempor nibh. Maecenas nec
                            euismod elit. Suspendisse euismod lectus eu quam
                            sollicitudin feugiat. Vestibulum magna neque,
                            viverra sit amet elit id, semper auctor magna.
                            Mauris viverra dapibus erat, vel condimentum orci
                            efficitur id. Vestibulum lorem tortor, scelerisque
                            eget dui eu, aliquam dignissim neque. Curabitur
                            semper augue vitae viverra finibus. Fusce at
                            posuere enim, quis elementum odio.

                        </p>
                    </div>
                    <div class="col-md-1 templatemo-box"></div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-1 templatemo-box"></div>
                        <div class="col-md-10 templatemo-box">
                            <h4>DISC Lab</h4>
                        <p>

                            Vestibulum vulputate mauris non lectus feugiat
                            dignissim a ut mauris. Aliquam ligula eros,
                            ultricies dapibus mattis eget, commodo sit amet
                            eros. In non sem nibh. Proin in feugiat odio.
                            Suspendisse eu euismod sapien, in pretium diam.
                            Curabitur rutrum blandit volutpat. Fusce
                            sollicitudin, metus id egestas dapibus, leo massa
                            blandit lectus, sed facilisis nisi dolor in magna.
                            Phasellus justo lorem, convallis quis mi sed,
                            volutpat volutpat elit. Nullam augue lacus,
                            elementum eget porttitor sed, tristique sed nunc.
                            Donec suscipit arcu viverra est laoreet elementum.
                            Pellentesque non viverra nulla. Nunc fermentum,
                            nibh eget cursus tincidunt, augue felis semper
                            ligula, ac condimentum velit nisl vel tellus.
                            Proin a lorem ante. Sed congue cursus dui, ac
                            cursus diam hendrerit in. Etiam mollis, tortor non
                            sagittis imperdiet, erat nisl auctor nibh, sit
                            amet ultrices felis leo id enim. Nam non neque sit
                            amet lorem efficitur interdum.

                        </p>
                    </div>
                    <div class="col-md-1 templatemo-box"></div>
                </div>

            </div>

        </section> -->


        {% include _templateFolder+'footer.html' %}
        {% include _templateFolder+'scripts.html' %}

    </body>
</html>
