<footer class="footer">
    <!-- <div class="navbar navbar-default navbar-bottom" id="footer"> -->
        <div class="container">
            <div class="row">

                <div class="col-md-4 templatemo-box" align="left"font-size="11px">
                    <div class="row">
                        <p class="muted credit">
                            <a href="/">Courses Home</a> &nbsp;<span class="divider">|</span>&nbsp;
                            <a href="https://geosci.xyz">GeoSci.xyz</a> &nbsp;<span class="divider">|</span>&nbsp;
                            <a href="http://slack.geosci.xyz/">Contact</a>
                        </p>
                    </div>

                </div>

                <div class="col-md-6 templatemo-box" align="right" font-size="11px">
                    <p class="muted credit">
                            Except where otherwise noted, this work by
                        <a xmlns:cc="https://creativecommons.org/ns#" href="http://geosci.xyz" property="cc:attributionName" rel="cc:attributionURL">
                            GeoSci Developers
                        </a>
                            is licensed under a
                        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
                            Creative Commons Attribution 4.0 International License
                        </a>.
                    </p>
                </div>

                <div class="col-md-2 templatemo-box", align="right">
                    <p class="muted credit">
                        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">
                            <img alt="Creative Commons License" style="border-width:0" width=60 src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    <!-- </div> -->
</footer>
