<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        <title>
            DISC 2017 Schedule and Locations
        </title>
        {% include _templateFolder+'scripts.html' %}
    </head>


    <body>


        <!-- start navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href="/#home" class="navbar-brand">
                        <img src="/s/images/disc_dipole.png" width=40 class="img-responsive" alt="navbar img" >
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right text-lowercase">
                        <li><a href="https://medium.com/disc2017">blog</a></li>
                        <li class="link"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right text-lowercase templatemo-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">locations<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for loc in where %}
                                    <li><a href="#{{ loc }}">{{ where[loc]['location'] }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!-- end navigation -->


        <!-- end navigation -->


        <!-- start home -->
        <section id="schedule">
            <section id="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <img src="/s/images/disclogo.png" class="img-responsive" alt="title img" width="200">
                        </div>
                        <br><br>

                        <div class="row">
                            <h1>
                                Schedule
                            </h1>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-2 templatemo-box"></div>
                            <div class="col-md-8 templatemo-box">
                                Locations will be added as registration opens.
                                <br><br>
                                <a href="/#contact">Get in touch</a> if you would like to see the DISC come to a city near you!
                            </div>
                            <div class="col-md-2 templatemo-box"></div>
                        </div>

                        <br>

                        <div class="col-md-12 templatemo-box">
                            <img src="/s/images/itinerary.png" width=1000px class="img-responsive" alt="DISC 2017 where">
                        </div>
                    </div>
                </div>
            </section>
            <!-- end home -->


            <!-- begin january -->
            <section id="locations">

                <div class="container">
                    <div class="row" align="center">
                        <h3>Upcoming Locations</h3>
                    </div>
                </div>

                {% for loc in where %}
                    {% if where[loc]['registration'] == 'open' %}
                        <br>
                        <div class="container">
                            <div class="row" align="left" id="{{ loc }}">
                                <h4>{{ where[loc]['location'] }}</h4>

                                <div class="col-md-6 templatemo-box">
                                    <div class="row" align="center">
                                        <!-- <div class="col-md-12 templatemo-box" align="right"> -->
                                            <a class="btn btn-success" href="/{{ loc }}" style="margin:10px">Course Material</a>
                                            {% if where[loc]['blog'] is defined %}
                                            <a class="btn btn-success" href="{{ where[loc]['blog'] }}"  style="margin:10px">
                                                Blog
                                            </a>
                                            {% endif %}
                                        <!-- </div> -->
                                    </div>

                                    <p>
                                        <em>{{ where[loc]['date'] }}</em>
                                        <ul>
                                            <li>{{ where[loc]['time'] }}</li>
                                            <li><a href="{{ where[loc]['venue_url'] }}">{{ where[loc]['venue'] }}</a></li>
                                            {% if where[loc]['additional'] is defined %}
                                                {% for item in where[loc]['additional']%}
                                                    <li>{{ item }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </p>

                                    <br>

                                    {% if where[loc]['registration'] == 'open' %}
                                    <div class="row">
                                        <div class="col-md-6 templatemo-box" align="center">
                                            {% if where[loc]['disc_registration_url'] is defined %}
                                            <a href="{{ where[loc]['disc_registration_url'] }}">
                                                <div class="row">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </div>
                                                <div class="row">
                                                    <br>
                                                    Register for
                                                    <br>
                                                    DISC Course
                                                </div>
                                            </a>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6 templatemo-box" align="center">
                                            {% if where[loc]['lab_registration_url'] is defined %}
                                            <a href="{{ where[loc]['lab_registration_url'] }}">
                                                <div class="row">
                                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                                </div>
                                                <div class="row">
                                                    <br>
                                                    Sign up for
                                                    <br>
                                                    DISC Lab
                                                </div>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="col-md-6 templatemo-box" align="center">
                                    <iframe src="{{ where[loc]['map_url'] }}" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <br>
                    {% endif %}
                {% endfor %}

            </section>

                <div class="container">
                    <div class="row" align="center">
                        <h3>Previous Locations</h3>
                    </div>
                </div>

                {% for loc in where %}
                    {% if where[loc]['registration'] == 'closed' %}
                        <br>
                        <div class="container">
                            <div class="row" align="left" id="{{ loc }}">
                                <h4>{{ where[loc]['location'] }}</h4>

                                <div class="col-md-6 templatemo-box">
                                    <div class="row" align="center">
                                        <!-- <div class="col-md-12 templatemo-box" align="right"> -->
                                            <a class="btn btn-success" href="/{{ loc }}" style="margin:10px">Course Material</a>
                                            {% if where[loc]['blog'] is defined %}
                                            <a class="btn btn-success" href="{{ where[loc]['blog'] }}"  style="margin:10px">
                                                Blog
                                            </a>
                                            {% endif %}
                                        <!-- </div> -->
                                    </div>

                                    <p>
                                        <em>{{ where[loc]['date'] }}</em>
                                        <ul>
                                            <li>{{ where[loc]['time'] }}</li>
                                            <li><a href="{{ where[loc]['venue_url'] }}">{{ where[loc]['venue'] }}</a></li>
                                            {% if where[loc]['additional'] is defined %}
                                                {% for item in where[loc]['additional']%}
                                                    <li>{{ item }}</li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                    </p>

                                    <br>

                                    {% if where[loc]['registration'] == 'open' %}
                                    <div class="row">
                                        <div class="col-md-6 templatemo-box" align="center">
                                            {% if where[loc]['disc_registration_url'] is defined %}
                                            <a href="{{ where[loc]['disc_registration_url'] }}">
                                                <div class="row">
                                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                </div>
                                                <div class="row">
                                                    Register for DISC Course
                                                </div>
                                            </a>
                                            {% endif %}
                                        </div>

                                        <div class="col-md-6 templatemo-box" align="center">
                                            {% if where[loc]['lab_registration_url'] is defined %}
                                            <a href="{{ where[loc]['lab_registration_url'] }}">
                                                <div class="row">
                                                    <i class="fa fa-flask" aria-hidden="true"></i>
                                                </div>
                                                <div class="row">
                                                    <br>
                                                    Sign up for
                                                    <br>
                                                    DISC Lab
                                                </div>
                                            </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="col-md-6 templatemo-box" align="center">
                                    <iframe src="{{ where[loc]['map_url'] }}" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                        <br>
                        <hr>
                        <br>
                    {% endif %}
                {% endfor %}

            </section>

        </section>



    {% include _templateFolder+'footer.html' %}

    </body>
</html>
