<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        {% include _templateFolder+'head.html' %}
        <title>
            GeoSci Courses: {{ name }}, {{ date }}
        </title>
        {% include _templateFolder+'scripts.html' %}
    </head>


    <body>


        <!-- start navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                    <a href="https://geosci.xyz" class="navbar-brand">
                        <img src="/s/images/disc_dipole.png" width=40 class="img-responsive" alt="navbar img" >
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right text-lowercase">
                        <li class="link"><a href="/"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end navigation -->


        <!-- end navigation -->


        <!-- start home -->
            <section id="home">
                <div class="overlay">
                    <div class="container">
                        <div class="row">
                            <img src="/s/images/geosci-courses.png" class="img-responsive" alt="title img" width="150">
                        </div>
                        <br><br>

                        <div class="row">
                            <h1>
                                {{ name }}
                            </h1>

                            {% if instructors is defined %}
                            <h3>
                                <em>{{ [instructors[:-1]|join(', '), instructors[-1]]|join(' &amp; ') }}</em>
                            </h3>
                            {% endif %}
                        </div>

                        <div class="row">
                            <h4>
                                {{ location }}
                                <br><br>
                                {{ date }}
                                <br><br>
                                {{ time }}

                            </h4>
                        </div>


                        <div class="col-md-12 templatemo-box" align="center">
                        {% if feedback_form is defined %}
                            <a class="btn btn-success" href="{{ feedback_form }}" style="margin:10px">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                Give us feedback
                            </a>

                        {% endif %}


                        {% if blog is defined %}
                            <a class="btn btn-success" href="{{ blog }}"  style="margin:10px">
                                <i class="fa fa-quote-left" aria-hidden="true"></i>
                                Blog
                            </a>
                        {% endif %}

                        {% if description is defined %}
                            <p>
                                {{ description }}
                            </p>
                        {% endif %}
                        </div>

                        <br>


                    </div>
                </div>
            </section>
            <!-- end home -->


            <!-- begin coursematerials -->
            <section id="course-materials">

          <!--       <div class="container">
                    <div class="row" align="center">
                        <br>
                        <h3>Course Materials</h3>
                        <br>
                    </div>
                </div> -->

                <div class="container">
                    <div class="row">
                        <!--  -->
                    <!-- </div> -->
                        <!-- <div class="col-md-2 templatemo-box"></div> -->
                        <div class="col-md-12 templatemo-box">
                            <div class="row" align="center">
                                <br>
                                <h3>Course Materials</h3>
                                <br>
                            </div>

                            <div class="row" align="center" id="course-materials">

                                {% if course_youtube is not defined %}
                                    <div class="col-md-4"></div>
                                {% endif %}


                                {% if course_material is defined %}
                                <div class="col-md-4">
                                    <ul>
                                    {% for item in course_material %}
                                    <li><a href="{{ item['url'] }}">{{ item['name'] }}</a></li>
                                    {% endfor %}
                                    </ul>
                                </div>

                                {% if course_youtube is defined %}
                                <div class="col-md-8" align="center">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{ course_youtube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                {% else %}
                                    <div class="col-md-4"></div>
                                {% endif %}


                                <!-- <div class="col-md-4"></div> -->
                                {% else %}
                                <div class="col-md-12" align="center">
                                    <h4>Coming Soon</h4>
                                    <br>
                                </div>
                                {% endif %}
                            </div>


                            {% if appendices is defined %}

                            <div class="container">
                                <div class="row" align="center">
                                    <br>
                                    <hr>
                                    <h3>Additional Materials</h3>
                                    <br>
                                </div>
                            </div>

                                <div class="row">
                                    {% if appendices_youtube is not defined %}
                                    <div class="col-md-4"></div>
                                    {% endif %}

                                    <div class="col-md-4 templatemo-box">
                                        <div class="row" align="center" id="additional-materials">
                                            <ul>
                                                {% for appendix in appendices %}
                                                    <li><a href=" {{ appendix['url'] }} ">{{ appendix['name'] }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    {% if appendices_youtube is defined %}
                                    <div class="col-md-8" align="center">
                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list={{ appendices_youtube }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    </div>
                                    {% else %}
                                        <div class="col-md-4"></div>
                                    {% endif %}

                                </div>
                            {% endif %}

                            <br>
                            <br>
                            <hr>

                            <div class="row">
                                <div class="col-md-4 templatemo-box"></div>
                                <div class="col-md-2 templatemo-box" align="center">
                                    <a href=" {{ reference_url }}">
                                        <div class="row">
                                            <strong>{{ reference_name }}</strong>
                                        </div>
                                        <div class="row">
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-2 templatemo-box" align="center">
                                    <a href=" {{ app_url }} ">
                                        <strong>apps</strong>
                                        <div class="row">
                                            <i class="fa fa-sliders" aria-hidden="true"></i>
                                         </div>
                                    </a>
                                </div>
                                <div class="col-md-4 templatemo-box"></div>
                            </div>
                        </div>

                        <!-- <div class="col-md-6 templatemo-box">
                            <div class="row" align="center">
                                <br>
                                <h3>Location</h3>
                                <br>
                            </div>
                            <div class="row" align="center">
                                {{ venue }}
                                <br>
                            </div>
                            <br>
                            <div class="row" align="center">
                                <iframe src="{{ map_url }}" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div>
                        </div>

                    </div> -->
                </div>



            </section>
            <!-- end coursematerials -->

            <!-- end february -->

        </section>



    {% include _templateFolder+'footer.html' %}

    </body>
</html>
